*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-input::-webkit-calendar-picker-indicator {
  display: none;
}
.modal-form-input::-webkit-outer-spin-button,
.modal-form-input::-webkit-inner-spin-button,
.interval-input::-webkit-outer-spin-button,
.interval-input::-webkit-inner-spin-button
{
  display: none;
}

/* BUTTONS */
.button {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.offer-button-search,
.subscribe-button,
.pagination-link {
  font-size: 20px;
  line-height: 36px;
}

.offer-button-search,
.user-option-button,
.button-more {
  background-color: #756157;
}

.subscribe-button {
  padding: 12px 15px;
  width: 200px;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.user-option-button {
  text-align: center;
  padding: 9px 20px;
  width: 160px;
  display: inline-block;
}

.offer-button-search {
  display: inline-block;
  width: 575px;
  padding: 12px 15px;
}

.button-more,
.button-like,
.button-like-favorite,
.raiting {
  text-align: center;
  display: inline-block;
  padding: 9px 15px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button:disabled:hover {
  background-color: #E5E5E5;
  color: #fff;
  cursor: not-allowed;
}
/* SELECT */

.field-input-email,
.interval-input,
.modal-form-input,
.select-control
{
outline: none;
font-family: inherit;
font-size: 18px;
line-height: 21px;
font-weight: 400;
}

.select-control {
  padding-left: 18px;
  min-height: 48px;
  color: #333333;
  background-image: url("../images/icon/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 12px 9px;
  background-position: center right 20px;
  border: none;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

.select-control:hover {
  outline: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}


/*HEADER*/
/* NAVIGATION */

nav {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
}

.main-navigation-logo {
  position: absolute;
  z-index: 1;
}

.main-navigation-list,
.user-option-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-navigation-list {
  margin-left: 185px;
  width: 310px;
  padding: 20px 0;
}

.user-option-list {
  width: 255px;
}

.main-navigation-link,
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.user-option-link-like {
  position: relative;
}

.count-like-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: #7db550;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

/*WELCOME*/
.welcome {
  position: relative;
  max-height: 485px;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #a7a2a2;
  background-image: url("../images/background/welcome-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../images/logo/welcome-vector.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*CAUSES - tagline*/
.causes-top-container {
  padding-top: 62px;
  padding-bottom: 90px;
  text-align: center;
}

.causes-text {
  margin-top: 30px;
}

.causes-title,
.offer-title,
.subscribe-title,
.hotels-count {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.causes-text,
.offer-text,
.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.causes-item-title,
.advantages-title,
.hotel-card-link-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.causes-item-title,
.advantages-title {
  text-transform: uppercase;
}

.causes-item-text,
.advantages-text,
.hotel-type,
.hotel-card-price,
.show-hotels {
  font-weight: 400;
  color: #333333;
}


/*CAUSES*/

.best-causes p,
.best-causes {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-city,
.causes-really-city,
.more-causes-list,
.causes-road-devil {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item,
.causes-text-container,
.causes-item {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 95px 40px 80px 40px;
  width: 400px;
  text-align: center;
  position: relative;
  min-height: 382px;
}

.causes-img {
  display: block;
  width: 100%;
  height: 100%;

}

.causes-item:nth-child(1),
.causes-item:nth-child(3),
.advantages-item:nth-child(1),
.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.causes-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.advantages-item {
  padding: 185px 40px 80px 40px;
}

.advantages-item::before {
  background-repeat: no-repeat;
  top: 80px;
  left: 160px;
  content: "";
  position: absolute;
}

.advantages-item-house::before {
  background-image: url("../images/causes/advantage-living-icon.svg");
  height: 72px;
  width: 75px;
}

.advantages-item-eat::before {
  background-image: url("../images/causes/advantage-food-icon.svg");
  height: 72px;
  width: 74px;
}

.advantages-item-gift::before {
  background-image: url("../images/causes/advantage-souvenir-icon.svg");
  height: 76px;
  width: 75px;
}

/*OFFER*/

.offer {
  padding-top: 91px;
  padding-bottom: 91px;
  text-align: center;
}

.offer-text {
  padding-top: 30px;
  padding-bottom: 56px;
}

/*SUBSCRIBE*/
.subscribe {
  padding-top: 94px;
  padding-bottom: 93px;
  text-align: center;
}

.subscribe-background {
  background-image: url("../images/background/mailing-background\ .jpg");
}

.subscribe-background .subscribe-box,
.subscribe-background .subscribe-text {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  margin: 0 auto;
  margin-top: 46px;
}

.subscribe-text {
  padding-top: 30px;
}

.field-input-email {
  background-color: #F2F2F2;
  border: none;
  padding: 0;
  padding-left: 22px;
  padding-right: 14px;
  border-radius: 10px 0 0 10px;
  margin: 0;
  font: inherit;
  font-weight: 400;
}

/*FOOTER*/
.footer-contacts {
  padding-top: 47px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  display: flex;
  margin-left: 80px;
  width: 120px;
  justify-content: space-between;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  margin-right: 70px;
}

/*FILTERS*/

.inner-header {
  padding: 35px 70px 79px 70px;
  background-image: url("../images/background/catalog-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
  color: #ffffff;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  margin-bottom: 41px;
  margin-left: 2px;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #ffffff;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 25px;
}

.breadcrumbs-item::after {
  content: url(../images/icon/arrow-right.svg);
  position: absolute;
  width: 8px;
  height: 8px;
  left: 22px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-filter-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 34px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 10px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-group:nth-child(2) {
  margin-left: 68px;
}

.catalog-filter-group:nth-child(3) {
  margin-left: 169px;
}

.interval-container {
  display: flex;
  position: relative;
  border-radius: 4px;
}

.interval-input {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 12px 34px 9px 17px;
  width: 143px;
  color: #ffffff;
  appearance: textfield;
}

.catalog-filter-label:after {
  content: "от";
  position: absolute;
  left: 112px;
  top: 12px;
  opacity: 0.3;
}

.catalog-filter-label::before {
  content: "до";
  position: absolute;
  right: 16px;
  top: 12px;
  opacity: 0.3;
}

.catalog-filter-label:first-child .interval-input {
  position: relative;
  border-radius: 4px 0 0 4px;
  border: 2px solid #ffffff;
}

.catalog-filter-label:last-child .interval-input {
  border-radius: 0 4px 4px 0;
  border: 2px solid #ffffff;
  border-left: none;
}

.interval-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.3);
}

.scale {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.interval-control {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.interval-control-min {
  top: -8px;
}

.interval-control-max {
  top: -8px;
  right: 0;
}

.raiting{
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

/*RESULTS SEARCH*/

.results-hotel-search {
  padding: 60px 71px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-count {
  margin-right: 190px;
}

.select-control {
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  height: 48px;
  color: #333333;
  appearance: none;
  background-image: url("../images/icon/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 12px 9px;
  background-position: center right 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control-price {
  width: 290px;
  margin-right: 75px;
}

.select-hotel {
  width: 160px;
  margin-left: 50px;
}

.catalog-visual-type {
  justify-content: space-between;
  display: flex;
  width: 160px;
}

.catalog-visual-type-toggle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.results-hotel-container {
  padding: 75px 20px 60px 20px;
  position: relative;
  border-bottom: 1px solid;
}

.results-hotel-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  row-gap: 32px;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;

}

.hotel-card {
  display: flex;
  flex-direction: column;
}

.hotel-card-about {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  justify-self: start;
}

.hotel-card-title {
  margin-top: 12px;
  margin-bottom: 15px;
}

.stars {
  justify-content: left;
  align-items: center;
  display: flex;
  width: 118px;
}

.stars-card {
  background-image: url(../images/icon/star.svg);
  background-position: center;
  width: 18px;
  height: 17px;
  margin-right: 5px;
}

.raiting {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.pagination-link {
  text-align: center;
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 12px 10px;
}
